/* General for all pages */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:"Open Sans","sans-serif";
}

body{
  background-image: url("backgroundImage.svg");
  color:#6F4E37;
  cursor: url('butterflyAuto.png'),auto;
}

a{
  cursor: url('butterflyPointer.png'),auto;
}

/*Float relative set start*/
.leftfix{
  float: left;
}

.rightfix{
  float:right;
}

.clearfix{
  clear:both;
}
/*Float relative set end*/

.container{
  width:1190px;
  margin:0 auto;
}

/* Topbar Start*/
.top-container{
  height: 40px;
  background-color:#8E806A;
  color:#FED8B1;

}

.webNavigation .list li{
    list-style-type: none;
    float:left;
    padding:0 15px;
}

.webNavigation .list{
  height: 40px;
  line-height:40px;
}

/* effect of hyperlink on the website start*/
a:link{
  color:rgb(254, 216, 177,0.6);
}

a:visited{
  color:#FFE6BC;
}

a:hover{
  color:#ECB176;
}

a:active{
  color:rgb(166, 123, 91,0.6);
}

a{
  text-decoration: none;
}
/* effect of hyperlink on the website end*/

.bottom-container{
  padding-top:100px;
  padding-bottom:20px;
  text-align: center;
}
