/* General effect for all pages */
/*
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
*/

body{
  /*background-color:#FED8B1;*/
  background-image: url("backgroundImage.svg");
  color:#6F4E37;
  cursor: url('butterflyAuto.png'),auto;
}


.top-container,.bottom-container{
  background-color: #8E806A;
  color:#FED8B1;
}

.webNavigation{
  list-style-type: none;
}

.topButton{
  cursor: url('butterflyPointer.png'),auto;
}

/* effect of hyperlink on the website*/
.topButton:link{
  color:rgb(254, 216, 177,0.6);
}

.topButton:visited{
  color:#FFE6BC;
}

.topButton:hover{
  color:#ECB176;
}

.topButton:active{
  color:rgb(166, 123, 91,0.6);
}

.topButton{
  text-decoration: none;
}

.copyrightFoot{
  text-align: center;
}

#exploreButton{
  font-size:30px;
  background-color: #8E806A;;
  font-weight: bold;

}
